// color variables
$white: hsl(0, 0%, 100%);

/// bulma modifications

// font
$family-primary: 'Lato', sans-serif;
// dark theme boi
$body-background-color: #1b1b1b;

// font colors
$body-color: $white;
$strong-color: $white;
$title-color: $white;
$subtitle-color: $white;
$subtitle-strong-color: $white;
$label-color: $white;

// links
$link-hover: $white;